---
layout: base.njk
title: Contact
---
<div class="feed-header-section feed-header-section--bordered">
  <h1 class="feed-title">Contact</h1>
</div>

<div class="page-scroll">
  <div class="contact-container">
    <p class="contact-intro">I’d rather talk like it’s 2001. If you’ve got my number, call or text me. (I really don't care how long it has been since we last talked.) Otherwise, send me an email. No feeds, no algorithms, no bs... just real human connection.</p>
    <p class="contact-email"><a href="mailto:brandon.dadam@gmail.com">brandon.dadam@gmail.com</a></p>
  </div>
</div>
